/* 
    Document   : default
    Created on : 23 avr. 2011, 23:28:41
    Author     : Julien LESPAGNARD
    Author     : Anthony BONIN
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    width: 1024px;
    height: 700px;
    margin: auto;
    padding: 0px;
    font-family: Calibri,sans-serif;
}

.footer {
    text-align: center;
    font-size: x-small;
}

#page { width: 100%; margin: auto; }
#thumbs { padding-top: 10px; overflow: hidden; }
#thumbs img, #largeImage { border: 1px solid gray; padding: 4px; background-color: white; cursor: pointer;}
#thumbs img { float: left; }
#description { background: black; color: white; position: absolute; bottom: 0; padding: 10px 20px; width: auto; margin: 5px; font-size: x-small; }
#panel { position: relative; }

.titleTable {
    background-color: black;
    color: white;
    text-align: center;
}

.dataTable {
    background-color: gainsboro;
    font-size: smaller;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.dataTableLight {
    background-color: lavender;
    font-size: smaller;
    vertical-align: top;
    padding: 0;
    margin: 0;
}